* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.ul {
  display: flex;
  gap: 60px;
  margin-left: 195px;
  margin-top: 30px;
}

.wrap {
  display: flex;
  margin-bottom: 48px;
}

.link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.css {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  margin-left: 254px;
  margin-right: 30px;
  margin-top: 30px;
}

.button {
  width: 202px;
  height: 48px;
  border-radius: 4px;
  opacity: 0px;
  background-color: #424242;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  margin-top: 15px;
}

/* .main */
.bacround {
  width: 48px;
  height: 48px;
  top: 479px;
  left: 40px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background-image: url("../imeges/Rectangle\ \(12\).png");
  padding: 17px 20px;
  z-index: 3;
}

.count {
  display: flex;
  gap: 115px;
  margin-top: 148px;
  margin-bottom: 70px;
}

.h1 {
  width: 565px;
  height: 62px;
  top: 202px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
}

.run {
  width: 573px;
  height: 72px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 46px;
}

.bacrount2 {
  background-image: url("../imeges/Rectangle\ \(2\).png");
  width: 237px;
  height: 48px;
  top: 479px;
  left: 40px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  margin-left: -4px;
  padding: 11px 29px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.frame {
  display: flex;
}

/* .section */
.main {
  width: 1200px;
  height: 416px;
  background-color: #000000;
}

.pp {
  /* width: 966px;
  height: 88px; */
  font-family: Roboto;
  font-size: 36px;
  text-align: left;
  color: #ffffff;
  padding-top: 97px;
  /* padding-bottom: 4px; */
  padding-left: 40px;
}

/* .section */
.how {
  width: 1200px;
  height: 1038px;
  background-color: #5887ff;
}

.jjko {
  font-family: Roboto;
  font-size: 80px;
  font-weight: 400;
  line-height: 92.16px;
  letter-spacing: 4.800000190734863px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 88px 472px 99px 40px;
}

.work {
  display: flex;
  gap: 100px;
}

.for {
  width: 442px;
  height: 180px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.for1 {
  width: 443px;
  height: 108px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 27px;
}

.for2 {
  width: 203px;
  height: 36px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-bottom: 48px;
}

/* .section */
.heres {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 93px;
  margin-left: 40px;
}

.come {
  width: 1200px;
  height: 1586px;
  top: 2090px;
  gap: 0px;
  opacity: 0px;
  background-color: #00c27a;
}

.user {
  width: 1120px;
  height: 448px;
  top: 2409px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  background-color: #000000;
}

.item {
  font-family: Roboto;
  font-size: 82px;
  font-weight: 400;
  line-height: 92.16px;
  letter-spacing: 3.8399999141693115px;
  text-align: left;
  color: #ffffff;
  padding-left: 40px;
}

.Brainstorm {
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.into {
  width: 245px;
  height: 180px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

.free {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.user {
  margin-left: 40px;
  padding: 56px 229px 78px 56px;
}

.page {
  width: 1120px;
  height: 5px;
  top: 2889px;
  left: 40px;
  background-color: #000000;
  margin-top: 32px;
  margin-left: 40px;
}

.team {
  font-size: 81px;
  font-weight: 400;
  line-height: 92.16px;
  letter-spacing: 3.8399999141693115px;
  text-align: left;
  margin-top: 44px;
  margin-left: 40px;
}

.up {
  display: flex;
}

.imegess3 {
  margin-bottom: 125px;
  position: relative;
  top: -105px;
  left: -80px;
}

.imegess1 {
  position: relative;
  top: -100px;
  left: -70px;
  margin-bottom: 27px;
}

.imegess2 {
  position: relative;
  top: -98px;
  left: -670px;
  margin-bottom: 103px;
}

.bacround-img {
  width: 600px;
  height: 800px;
  top: 3676px;
  left: 600px;
  gap: 0px;
  opacity: 0px;
  background-color: #be53ff;
  margin-left: 375px;
}

.p1 {
  width: 490px;
  height: 416px;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: 0.9599999785423279px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 52px;
  margin-left: 48px;
  margin-bottom: 185px;
}

.talend {
  display: flex;
  gap: 0px;
}

.txt {
  width: 400px;
  height: 200px;
  background-color: #000000;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-top: 55px;
  padding-left: 32px;
}

.farme {
  display: flex;
}

.ibm1 {
  position: relative;
  top: 128px;
  left: 40px;
}

.ibm2 {
  position: relative;
  top: 471px;
  left: 320px;
}

.ibm3 {
  position: relative;
  top: 641px;
  left: 320px;
}

/* .section */
.kind {
  width: 1200px;
  height: 588px;
  background-color: #ededdb;
}

.lorem {
  width: 156px;
  height: 5px;
  top: 4968.17px;
  left: 61.19px;
  gap: 0px;
  opacity: 0px;
  background-color: #bed7ff;
}

.of {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 1.2799999713897705px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.get {
  width: 306px;
  height: 108px;
  top: 4574px;
  left: 797px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.luma {
  display: flex;
  gap: 135px;
  padding-left: 40px;
  padding-top: 115px;
}

.consulting {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.mural {
  display: flex;
  justify-content: space-between;
  margin: 94px 55px;
}

.lorem1 {
  width: 138px;
  height: 5px;
  background-color: #ffed87;
}

.lorem2 {
  width: 112px;
  height: 5px;
  background-color: #ffcee0;
}

.lorem3 {
  width: 73px;
  height: 5px;
  background-color: #b4f5c8;
}

.lorem4 {
  width: 168px;
  height: 5px;
  background-color: #e6bfff;
}

.consulting {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 24px;
  margin-bottom: 12px;
}

.security {
  display: flex;
  gap: 55px;
  margin-top: 114px;
}

.qqq {
  width: 329px;
  height: 104px;
  top: 5438px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 39px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 40px;

}

.vvv {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 32px;
  margin-bottom: 96px;
}

/* .section */
.system {
  display: flex;
  gap: 32px;
  margin-left: 40px;
  margin-top: 96px;
}

.help {
  width: 448px;
  height: 56px;
  top: 5160px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
}

.count11 {
  width: 276px;
  height: 3px;
  top: 5318.17px;
  left: 520px;
  gap: 0px;
  opacity: 0px;
  background-color: #00c27a;
}

.src {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.count111 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 25px;
  margin-bottom: 3px;
}

.become {
  width: 736px;
  height: 1px;
  background-color: #000000;
}

.aligin {
  display: flex;
  align-items: center;
  gap: 138px;
}

.clear {
  width: 476px;
  height: 60px;
  top: 5452px;
  left: 680px;
  gap: 0px;
  opacity: 0px;
  text-align: left;
}

/* .adapt1{
  display: flex;
} */
.bacrround {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-image: url("../imeges/Rectangle\ \(14\).png");
  z-index: 3;
}

.bacrround1 {
  width: 345px;
  height: 48px;
  border-radius: 4px;
  background-image: url("../imeges/Rectangle\ \(13\).png");
  margin-left: -50px;
}

.learn {
  display: flex;
}

.ppp1 {
  padding: 17px;
}

.hhw {
  padding-top: 11px;
  padding-left: 72px;
}

/* .section */
.sap {
  width: 1200px;
  height: 674px;
  background-color: #ededdb;
  display: flex;
  gap: 189px;
}

.top {
  font-family: Roboto;
  font-size: 63px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 1.2799999713897705px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.how1 {
  display: flex;
}

.long {
  font-size: 64px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 1.2799999713897705px;
  text-align: left;
}

.after {
  width: 483px;
  height: 144px;
  font-size: 24px;
  margin-top: 31px;
  margin-bottom: 46px;
}

.sap1 {
  margin-left: 40px;
  padding-top: 96px;
}

.imeges-txt {
  width: 110px;
  height: 71px;
}

.bacround2 {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: #be53ff;
  padding: 17px;
  z-index: 4;
}

.bacround3 {
  width: 198px;
  height: 48px;
  border-radius: 4px;
  background-color: #e6bfff;
  padding-top: 11px;
  padding-left: 72px;
  margin-left: -30px;
}

.bactound4 {
  display: flex;
}

.sap2 {
  padding-top: 226px;
}

/* .section */
.makes {
  display: flex;
  /* gap: 82px; */
  margin-top: 18px;
}

.support {
  width: 736px;
  height: 1px;
  background-color: #000000;
}

.work1 {
  width: 352px;
  height: 352px;
}

.control {
  width: 512px;
  height: 60px;
  font-size: 19px;
  margin-left: -110px;
}

.security {
  display: flex;
}

.on {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.enterprise {
  font-family: Roboto;
  font-size: 59px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 1.2799999713897705px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 887px;
  height: 141px;
}

.lock {
  margin-top: 92px;
  margin-left: 40px;
  margin-bottom: 93px;
}

.data {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: #5887ff;
  padding: 17px;
  margin-right: -50px;
  z-index: 3;
}

.data1 {
  width: 265px;
  height: 48px;
  border-radius: 4px;
  background-color: #bed7ff;
  padding-top: 13px;
  padding-left: 72px;
}

.about {
  display: flex;
  margin-top: 46px;
  margin-bottom: 97px;
}

.onn {
  width: 716px;
  height: 63px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 95px;
}

/* .section */
.better {
  width: 1200px;
  height: 886px;
  background-color: #fc83ff;
}

.for11 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.6399999856948853px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 189px;
  margin-bottom: 98px;
  text-align: center;
}

.back {
  width: 40px;
  height: 371px;
  background-color: #000000;
  z-index: 2;
  margin-right: -30px;
}

.started {
  width: 875px;
  height: 371px;
  border-radius: 18px;
  background-color: #ffe146;
  padding-top: 88px;
  padding-left: 128px;
}

.content {
  display: flex;
  margin-left: 163px;
}

.started {
  font-size: 103px;
  font-weight: 400;
  line-height: 195px;
  letter-spacing: 6.5px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.product {
  width: 1200px;
  height: 682px;
  background-color: #ededdb;
}

/* .foter */
.link1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.ul1 {
  display: flex;
  gap: 126px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 28px;
}

.txt-aligen {
  display: flex;
  gap: 77px;
  padding-left: 40px;
  padding-right: 40px;
}

.href {
  color: #000000;
}

.href:hover {
  color: green;
}
.txt-list{
  margin-top:40px;
  margin-left:220px;
  display: flex;
  gap: 200px;
}
.href1 {
  color: #000000;
}

.href1:hover {
  color: green;
}